.icon-html{
  top: 3px;
}

@icon-html: 'atom://mytheme/icons/file_type_html.png';
@icon-bower: 'atom://mytheme/icons/file_type_bower.png';
@icon-grunt: 'atom://mytheme/icons/file_type_gruntfile.png';
@icon-npm: 'atom://mytheme/icons/file_type_npm.png';
@icon-json: 'atom://mytheme/icons/file_type_settings.png';
@icon-css: 'atom://mytheme/icons/file_type_css.png';
